.mark.red {
	div.marked {
		background-color:rgba(255,70,38,0.8);
	}
	div {
		background-color:$red;
	}
}

.mark.yellow {
	div.marked {
		background-color:rgba(241,175,59,0.8);
	}
	div {
		background-color:$yellow;
	}
}

.mark.bright-green {
	div.marked {
		background-color:rgba(131,172,73,0.8);
	}
	div {
		background-color:$bright-green;
	}
}

.mark.green {
	div.marked {
		background-color:rgba(0,165,115,0.8);
	}
	div {
		background-color:$green;
	}
}

.mark {
	
	div.marked {
		width:101%;
		height:100%;
		opacity:1;
		
		span {
			display:block;
		}
	}
	
	div {
		opacity:0.5;
		position:absolute;
		height:100%;
		width:42px;
		color:white;
	
		span {
			font-size:18px;
			margin-left:auto;
			margin-right:auto;
			width:25px;
			text-align:center;
			display:none;
		}
	
	}
	
	div.value {
		display:none;
	}
	
	div.scnd {
		margin-left:44px;
	}
	
	div.thrd {
		margin-left:88px;
	}
	
}

.criteria.min-height {
	span {
		min-height:37px;
	}
}

.mark.four {
	div.marked {
		width:99%;
	}
	
	div {
		width:31px;
	}
	
	div.scnd {
		margin-left:32px;
	}
	
	div.thrd {
		margin-left:64px;
	}
	
	div.frth {
		margin-left:96px;
	}
}

.mark:hover {
	
	div.marked {
		display:none;
	}
	
	div.value {
		display:block;
		cursor:pointer;
	}
	
}

.middle {
	top:50%;
	height:26px !important;
	margin-top:-10px !important;
	width:auto !important;
}

.color {
	background-color:$silver;
}
.color0 {
	color:$dark-beige !important;
	input {
		border:1px solid $dark-beige !important;
	}
}
.color1 {
	background-color:$red;
}
.color2 {
	background-color:$yellow;
}
.color3 {
	background-color:$bright-green;
}
.color4 {
	background-color:$green;
}
.colorR {
	background-color:black !important;
}

.value:hover {
	opacity:1;
	
	span {
		display:block;
	}
}

.assess {
	padding:18px;
	padding-bottom:0px;
	padding-top:0px;
	height:100%;
	position:relative;
	
	span {
		overflow-y:auto;
		overflow-x:hidden;
		margin:0px;
		//height:100%;
		padding-bottom:0px;
		//margin-bottom:5px;
		//min-height:65px;
		//display:table;
		word-wrap:break-word;
	}
	
	.value, .marked {
		span {

		}
	}
	
}


.final {
	width:196px;
	height:272px;
	position:fixed;
	right:0;
	background-color:$dark-slate;
	top:358px;
	@include border-left-radius(6px);
	color:white;
	z-index:999;
	
	span.grade-span, span.auto-grade {
		margin-left:auto;
		margin-right:auto;
		width:100%;
		text-align:center;
		display:block;
		font-size:14px;
		font-weight:500;
		margin-top:20px;
	}
	
	input.manual {
		font-size:40px;
		font-weight:500;
		font-family:$roboto;
		background:transparent;
		text-align:center;
		width:75px;
		border:1px solid white;
		margin-top:10px;
		margin-left:58px;
		outline:none;
		color:white;
	}
	
	span.auto-grade {
		font-weight:300;
		font-size:13px;
		margin-top:10px;
	}
	
	.grade {
		width:100%;
		height:75px;
		margin-top:17px;
		
		span {
			display:inline-block;
			font-size:40px;
		}
		
	}
	
	.btn {
		margin-left:auto;
		margin-right:auto;
		display:block;
		margin-top:25px;
		height:17px;
		width:137px;
		text-align:center;
		padding-top:10px;
		
		img {
			vertical-align:middle;
			margin-right:10px;
			margin-top:-2px;
		}
	}
}

.grade-cell {
	a {
		span {
			position:absolute;
			font-size:12px;
			font-weight:300;
			margin-left:8px;
			margin-top:3px;
		}
	}
}

.print-show {
	display:none;
}

/* PRINT */
@media print {
	
	.container {
		margin-top:70px !important;
	}
	
	.page-container {
		padding-top:0px !important;
		margin-top:-30px !important;
	}
	
	body {
		height:auto !important;
	}
	
	div, body {
		background-image:none !important;
		background-color:transparent !important;
	}
	
	label {
		color:black !important;
	}
	
	header, .final, .breadcrumbs, .side-panel, .details-toggle {
		display:none !important;
	}
	
	.hero {
		margin-top:100px;
		
		ul {
			width:auto !important;
			border-left:none !important;
			margin-top:0px !important;
			//top:145px;
			//position:absolute !important;
			padding-left:0 !important;
			line-height:40px !important;
			width:930px !important;
			//border-bottom:1px solid black !important;
			
			li {
				display:inline !important;
				margin-right:50px;
			}
		}
		
		hr {
			border-bottom: 2px solid black !important;
		}
	}
	
	.rubric-details {
		display:block !important;
		margin-top:15px;
		
		.title-input-text {
			font-size:20px !important;
		}
		
		div {
			width:926px !important;
		}
		
		//ul {
			//margin-top:-130px !important;
		//}
		
		label {
			line-height:18px !important;
		}
	}
	

	
	.title-input-text {
		font-size:30px !important;
		padding-bottom:20px !important;
	}
	
	//.desc-input-text {
	//	margin-top:55px !important;
	//}
	
	h2 {
		position:absolute;
		top:30px;
		right:30px;
	}
	
	h2:after {
		content:':';
		//border-right:80px solid;
		padding-right:15px;
		display:inline-block;
		line-height:100px;
		margin-right:85px;
	}
	
	.c {
		border-color:$silver !important;
		color:black !important;
	}
	.c1 {
		border-color:$red !important;
		color:black !important;
	}
	.c2 {
		border-color:$yellow !important;
		color:black !important;
	}
	.c3 {
		border-color:$bright-green !important;
		color:black !important;
	}
	.c4 {
		border-color:$green !important;
		color:black !important;
	}
	.cR {
		border-color:black !important;
		color:black !important;
	}
	
	
	.marked:before {
		content:'';
		border-right:39px solid white;
		width: 0px;
		height: 29px;
		display: block;
		position: absolute;
		right: 0px;
		bottom: 0px;
		margin-right: 1px;
	}
	
	
	.assess {
		padding-right:0px !important;
	}
	
	.rubric-column {
		span {
			width:147px !important;
			margin-right:-25px;
		}
	}
	
	div.criteria {
		width:280px !important;
		
		span {
			width:210px !important;
		}
	}
	
	.mark {
		div {
			span {
				width:35px !important;
				position:absolute;
				right:0px;
				margin-right:1px;
				border:2px solid;
				top:100%;
				margin-top:-30px !important;
				line-height:25px;
			}
		}
		
		div.marked {
			span {
				//margin-top:7px !important;
			}
		}
	}
	
	.rubric-info {
		margin-bottom:0px !important;
		
		.desc-input-text {
			font-size:16px !important;
			margin-top:10px !important;
			width:920px !important;
		}
		
		br {
			display:none;
		}
		
		div {
			display:block !important;
		}
	}
	
	.pencil {
		background-image:none !important;
	}
	
	.print-hide {
		display:none;
	}
	
	.print-average {
		position: absolute;
		top: 34px;
		right: 40px;
		font-size: 40px;
		width: 70px;
		text-align: center;
		color: black;
		border: 3px solid;
		line-height: 80px;
	}
	
	.print-show {
		display:block !important;
	}
	
	
}