.mark.red {
	div.marked {
		background-color:rgba(255,70,38,0.8);
	}
	div {
		background-color:$red;
	}
}

.mark.yellow {
	div.marked {
		background-color:rgba(241,175,59,0.8);
	}
	div {
		background-color:$yellow;
	}
}

.mark.bright-green {
	div.marked {
		background-color:rgba(131,172,73,0.8);
	}
	div {
		background-color:$bright-green;
	}
}

.mark.green {
	div.marked {
		background-color:rgba(0,165,115,0.8);
	}
	div {
		background-color:$green;
	}
}

.mark {
	
	div.marked {
		width:101%;
		height:100%;
		opacity:1;
		
		span {
			display:block;
		}
	}
	
	div {
		opacity:0.5;
		position:absolute;
		height:100%;
		width:42px;
		color:white;
	
		span {
			font-size:18px;
			margin-left:auto;
			margin-right:auto;
			width:25px;
			text-align:center;
			display:none;
		}
	
	}
	
	div.value {
		display:none;
	}
	
	div.scnd {
		margin-left:44px;
	}
	
	div.thrd {
		margin-left:88px;
	}
	
}

.criteria.min-height {
	span {
		min-height:37px;
	}
}

.mark.four {
	div.marked {
		width:99%;
	}
	
	div {
		width:31px;
	}
	
	div.scnd {
		margin-left:32px;
	}
	
	div.thrd {
		margin-left:64px;
	}
	
	div.frth {
		margin-left:96px;
	}
}

.mark:hover {
	
	div.marked {
		display:none;
	}
	
	div.value {
		display:block;
		cursor:pointer;
	}
	
}

.middle {
	top:50%;
	height:26px !important;
	margin-top:-10px !important;
}

.color {
	background-color:$silver;
}
.color1 {
	background-color:$red;
}
.color2 {
	background-color:$yellow;
}
.color3 {
	background-color:$bright-green;
}
.color4 {
	background-color:$green;
}
.colorR {
	background-color:black !important;
}

.value:hover {
	opacity:1;
	
	span {
		display:block;
	}
}

.assess {
	padding:18px;
	
	span {
		overflow-y:auto;
		overflow-x:hidden;
		margin:0px;
		height:100%;
		padding-bottom:0px;
		margin-bottom:5px;
		//min-height:65px;
	}
	
	.value, .marked {
		span {

		}
	}
	
}


.final {
	width:196px;
	height:228px;
	position:fixed;
	right:0;
	background-color:$dark-slate;
	top:358px;
	@include border-left-radius(5px);
	color:white;
	z-index:999;
	
	span.grade-span, span.auto-grade {
		margin-left:auto;
		margin-right:auto;
		width:100%;
		text-align:center;
		display:block;
		font-size:14px;
		font-weight:500;
		margin-top:20px;
	}
	
	input.manual {
		font-size:40px;
		font-weight:500;
		font-family:$roboto;
		background:transparent;
		text-align:center;
		width:75px;
		border:1px solid white;
		margin-top:10px;
		margin-left:58px;
		outline:none;
		color:white;
	}
	
	span.auto-grade {
		font-weight:300;
		font-size:13px;
		margin-top:10px;
	}
	
	.grade {
		width:100%;
		height:75px;
		margin-top:17px;
		
		span {
			display:inline-block;
			font-size:40px;
		}
		
	}
	
	.btn {
		background-color:$green;
		margin-left:auto;
		margin-right:auto;
		display:block;
		margin-top:25px;
		height:17px;
		width:137px;
		text-align:center;
		padding-top:10px;
	}
}

.grade-cell {
	a {
		span {
			position:absolute;
			font-size:12px;
			font-weight:300;
			margin-left:8px;
			margin-top:3px;
		}
	}
}