$beige: #efe4c2;
$dark-beige: #666050;
$light-beige: #bfb289;
$soft-beige: #e9e4d2;
$medium-beige: #ccc1a1;
$chiaro-beige: #b3a682;

$grayish-beige: #ddd8c5;
$light-grayish-beige: #d4d0bd; 

$dark-slate: #182b2d;
$slate: #1e3133;
$medium-slate: #39484a;
$light-slate: #39484a;

$green: #00a573;
$light-green: #2ad7a3;
$bright-green: #83ac49;

$yellow: #f1af3b;

$red: #ff4626;

$silver: #a6a6a6;

$brown: #55503f;