$beige: #efe4c2;
$dark-beige: #666050;
$light-beige: #bfb289;
$soft-beige: #e9e4d2;
$medium-beige: #ccc1a1;
$chiaro-beige: #b3a682;
$loader-beiger: #bfb69b;

$grayish-beige: #ddd8c5;
$light-grayish-beige: #d4d0bd; 

$dark-slate: #182b2d;
$slate: #1e3133;
$medium-slate: #39484a;
$light-slate: #39484a;
$darker-slate: #101f23;

$green: #00a573;
$light-green: #2ad7a3;
$bright-green: #83ac49;

$yellow: #f1af3b;

$orange: #f6b308;
$off-orange: #f0c550;

$red: #ff4626;

$silver: #a6a6a6;
$light-silver: #e7e7e7;

$gray: #afb3b4;
$greenish-gray: #586361;

$brown: #55503f;