.col-header {

}

.header-row {
	height: 93px;
	border-bottom: 2px solid $chiaro-beige;
}

.student.header-cell {
	padding-top: 39px;
	margin-left: -34px;
}

.row {
	height: 49px;
	border-bottom: 1px solid $medium-beige;
}

.student-list {
	float: left;
	border-right: 2px solid $chiaro-beige;
}

.student.row {
	background: white;
}

.student-cell {
	padding-top: 15px;
	font-size: 16px;
	font-weight: 500;
	padding-left: 20px;
	height: 100%;
}

.student {
	width: 168px;
}

.scroll-container {
	float: left;
	max-width: 642px;
}

.scroll-content {
	overflow: auto;
	width: 1000px;
}

.rubric.header-row {
	background: white;
}

.rubric.header-cell {
	float: left;
	width: 115px;
	height: 100%;
	
	a:not(.plus) {
		position: absolute;
		bottom: 0;
		margin: 17px;
		font-size: 14px;
		color: $dark-beige;
		line-height: 19px;
	}
	
	.title-container {
		position: relative;
		height: 100px;
	}
}

.rubric.header-cell:not(:last-child) {
	border-right: 1px solid $chiaro-beige;
}

.grade.row {
	border-bottom: 1px solid $medium-beige;
}

.grade-cell {
	width: 115px;
	height: 100%;
	float: left;
}

.grade-cell:not(:last-child) {
	border-right: 1px solid $medium-beige;
}

.pin-right {
	float: left;
	//height: 1000px; // THIS MUST BE SET PROGRAMATICALLY
}
.pin-right.with-divider {
	border-left: 1px solid $medium-beige;
}
