.col-header {

}

.header-row {
	height: 103px;
	border-bottom: 2px solid $medium-beige;
}

.student.header-cell {
	padding-top: 39px;
	margin-left: -34px;
}

.row {
	height: 49px;
	border-bottom: 1px solid $grayish-beige;
}

.student-list {
	float: left;
	border-right: 2px solid $medium-beige;
}

.student.row {
	background: white;
}

.student-cell {
	padding-top: 15px;
	font-size: 16px;
	font-weight: 500;
	padding-left: 20px;
	height: 100%;

	.close-button {
		display: none;
		position: absolute;
		margin-left: -67px;
		margin-top: -5px;
	}
	
	span {
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		display: block;
		height: 20px;
	}
}

.student-cell:hover {
	.close-button {
		display:block;
	}
	margin-left: -20px;
	padding-left: 40px;
}

.student {
	width: 168px;
}

.scroll-content {
	overflow: auto;
	width: 1000px;
	background-color:$soft-beige;
}

.rubric.header-row {
	background: white;
}

.rubric.header-cell {
	float: left;
	width: 115px;
	height: 100%;
	position:relative;
	
	a:not(.plus):not(.menu-item) {
		position: absolute;
		bottom: 0;
		margin: 17px;
		font-size: 14px;
		color: $dark-beige;
		line-height: 19px;
	}
	
	.dropdown-menu {
		position:relative;
		top:60px;
		left:-25%;
	}
	
	.title-container {
		position: relative;
		height: 110px;
		overflow:hidden;
		
		textarea {
			position: absolute;
			bottom: -3px;
			margin: 17px;
			font-size: 14px;
			font-family:$roboto;
			color: #666050;
			line-height: 19px;
			width: 78px;
			outline: none;
			border: none;
			resize: none;
		}
	}
}

.rubric.header-cell:not(:last-child) {
	border-right: 1px solid $medium-beige;
}

.grade.row {
	border-bottom: 1px solid $light-grayish-beige;
}

.grade-cell {
	width: 115px;
	height: 100%;
	float: left;
	
	a {
		text-align:center;
		display:block;
		height:24px;
		padding-top:8px;
		margin:8px;
		color:white;
		font-size:16px;
		position:relative;
		
		input {
			width:30px;
			font-size:16px;
			text-align:center;
			margin-top:-4px;
			margin-left:12px;
			margin-right:2px;
			background:transparent;
			border:1px solid white;
			color:black;
			outline:none;
		}
		
		.marked {
			color:white;
		}
		
	}
	
	a.new {
		color:$dark-beige;
		font-size:20px;
		font-weight:700;
		margin-top:6px;
	}
	
	a.gray {
		background-color:$silver;
	}
	
	.ex {
		width:49px;
		margin-right:0px;
		float:left;
		cursor:pointer;
		
		.icn-ex {
			background-image:url(/images/icn-ex.png);
			height:11px;
			width:11px;
			margin-left:-5px;
		}
		
	}
	
	.ex.selected, .ex.hoverable:hover {
		background-color:$red;
		opacity:0.5;
		.icn-ex {
			background-position:-11px;
		}
	}
	
	.check {
		width:49px;
		margin-left:0px;
		float:right;
		cursor:pointer;
		
		.icn-check {
			background-image:url(/images/icn-check.png);
			height:12px;
			width:15px;
			margin-left:-7px;
		}
	}
	
	.selected {
		opacity:1 !important;
	}
	
	.check.selected, .check.hoverable:hover {
		background-color:$green;
		opacity:0.5;
		.icn-check {
			background-position:-15px;
		}
	}

}

.grade-cell:not(:hover) {
	.selected {
		width: 99px;
		position: absolute;
		margin-left: 8px;
		z-index:50;
	}
	
	.check.selected {
		margin-left:-49px;
	}
	
	.marked {
		border:none;
		width:32px;
	}
	
	.divider {
		width:1px;
		height:12px;
		background:$dark-beige;
		position:absolute;
		margin-top:18px;
		opacity:0.5;
	}
	
	.has-comment {
		float:right;
		height:4px;
		width:4px;
		background-color:white;
		z-index:200;
		position:relative;
		pointer-events:none;
		margin-top:12px;
		margin-right:12px;
		opacity:0.5;
	}
	
}

.grade-cell:not(:last-child) {
	border-right: 1px solid $light-grayish-beige;
}

.pin-right {
	float: left;
	//height: 1000px; // THIS MUST BE SET PROGRAMATICALLY
}
.pin-right.with-divider {
	border-left: 1px solid $light-grayish-beige;
	border-right: 1px solid $light-grayish-beige;
	border-bottom: 1px solid $light-grayish-beige;
	background-color:$soft-beige;
	width:112px;
}

.delete-ex {
	background-image: url(/images/delete-ex.png);
	background-repeat: no-repeat;
	width: 10px;
	height: 10px;
	margin-top: 8px !important;
	margin-left:97px !important;
	bottom:auto !important;
	cursor: pointer;
	z-index:400;
}

/* Comment Bubbles */
.bubble 
{
	position: absolute;
	display:none;
	width: 359px;
	//height: 61px;
	padding: 0px;
	background: #FFFFFF;
	border: rgba(0,0,0,0.2) solid 3px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;

	background-clip:padding-box;
	z-index:500;
	margin-top:-10px;
	margin-left:106px;

	textarea {
		font-family:$roboto;
		font-size:13px;
		font-weight:300;
		border:none;
		resize:none;
		outline:none;
		margin:5px;
		margin-bottom:3px;
		width:341px;
		color:gray;
		padding:4px;
	}
	
	textarea::-webkit-input-placeholder { /* WebKit browsers */
	    font-style:italic;
	}
	textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	    font-style:italic;
	}
	textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
	    font-style:italic;
	}
	textarea:-ms-input-placeholder { /* Internet Explorer 10+ */
	    font-style:italic;
	}

}

.bubble:after
{
	content: "";
	position: absolute;
	top: 23px;
	left: -9px;
	border-style: solid;
	border-width: 8px 9px 8px 0;
	border-color: transparent white;
	display: block;
	width: 0;
	z-index: 1;
}

.bubble:before 
{
	content: "";
	position: absolute;
	top: 21px;
	left: -14px;
	border-style: solid;
	border-width: 10px 11px 10px 0;
	border-color: transparent rgba(0,0,0,0.2);
	display: block;
	width: 0;
	z-index: 0;
}

.bubble.right:after {
	left:auto;
	right:-9px;
	border-width: 8px 0px 8px 9px;
}

.bubble.right:before {
	left:auto;
	right:-14px;
	border-width:10px 0px 10px 11px;
}

.open-bubble {
	
	.bubble {
		display:block;
	}
}

.delay-bubble {
	.bubble {
		display:block;
	}
}