.overalls {
	
	padding-top:22px;
	
	textarea{
		outline:none;
		border:none;
		width:95%;
		color: $dark-beige;
		background-color: transparent;
		font-size:18px;
		font-weight:300;
		font-family: $roboto;
		resize:none;
		margin-left:-2px;
	}
	
	li {
		
		.dark-uniform {
			position:absolute;
			margin-left:-30px;
			margin-top:-1px;
		}
		
		color:$dark-beige;
		padding-bottom:15px;
		line-height:26px;
		font-weight:300;
		font-size:18px;
		padding-left:30px;
		
	}
	
	::-webkit-input-placeholder { /* WebKit browsers */
	    color:    $light-beige;
			font-style: italic;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	    color:    $light-beige;
			font-style: italic;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
	    color:    $light-beige;
			font-style: italic;
	}
	:-ms-input-placeholder { /* Internet Explorer 10+ */
	    color:    $light-beige;
			font-style: italic;
	}
	
}

.specific {
	.header {
		h4 {
			float:left;
			border-bottom:6px solid brown;
			padding-bottom:22px;
			margin-left: 1px;
			width:150px;
		}
		
		h4:first-child {
			margin-left: 0px;
			width:243px;
			border-color: $brown;
		}
		
		h4:nth-child(2) {
			margin-left:3px;
			border-color: $red;
		}
		
		h4:nth-child(3) {
			border-color: $yellow;
		}
		
		h4:nth-child(4) {
			border-color: $bright-green;
		}
		
		h4:nth-child(5) {
			border-color: $green;
		}
		
		h4:not(:first-child) {
			padding-left:20px;
		}
	}
}

.rubric-row {
	padding-top:20px;
	height:100%;
	display:table;
}

.rubric-column {
	display: table-cell;
	width: 171px;
	vertical-align:top;
	//padding:18px;
	
	textarea, span {
		resize: none;
		border:none;
		margin:18px;
		width:129px;
		outline:none;
		margin-top:0px;
		margin-bottom:0px;
		font-family: $roboto;
		font-size:13px;
	}

	span {
		position:relative;
		display:block;
		margin-top:0px;
		line-height:18px;
		padding-bottom:32px;
	}
	
	.close-button {
		position:absolute;
		//margin-top:25px;
		margin-left:-39px;
		cursor:pointer;
	}
}

.level {
	label {
		color:gray;
		font-family: $roboto;
		font-size:13px;
		margin:18px;
		width:129px;
		position:absolute;
		//top:18px;
		line-height:19px;
		word-wrap:break-word;
		z-index:303;
		margin-top:0px;
		margin-bottom:0px;
		//display:none;
	}
}

.rubric-column:not(:last-child) {
	border-right: 1px solid lightgray;
}

.rubric-column:first-child {
	border: none;
}



div.criteria {
	//width: 245px;
	width:250px;
	
	textarea, span {
		font-weight:300;
		font-style:italic;
		width:200px;
	}
	
	span {
		width:211px;
	}
	
}

.rubric-group {
	background-color: white;
	width: 929px;
	border-bottom: 2px solid $medium-beige;
}

/*
.rubric-row {
	
	.top-cover {
		float:left;background:white;height:20px;width:920px;position:absolute;
	}
	
	.bottom-cover {
		float:left;background:white;height:20px;width:920px;margin-top:-20px;position:absolute;
	}
}
*/
//.rubric-row:not(:last-child) {
	
	.bottom-divider:not(:last-child) {
		margin-left:18px;border-bottom:1px solid lightgray;position:relative;z-index:100;width:205px;display:inline-block;height:20px;
	}
	
	.bottom-divider.wide {
		margin-left:36px;width:650px;
	}
	
	.bottom-divider:nth-last-child(2) {
		border-bottom:0px;
	}
//}

/* SPECIFIC EXPECTATIONS */
.specific-picker {
	background-color:white;
	width:929px;
	height:314px;
	color:white;
	overflow:hidden;
	@include border-radius(5px);
	
	.close-button {
		float:left;
		position:absolute;
		margin-left:-39px;
		margin-top:13px;
		cursor:pointer;
	}
	
	span {
		display:block;
		line-height:51px;
		border-bottom:1px solid $greenish-gray;
		font-size:14px;
		color:$gray;
		padding-left:20px;
	}
	
	div.list {
		overflow:auto;
		height:262px;
		font-size:15px;
		font-weight:300;
		line-height:42px;
		//padding-left:20px;
		
		li {
			border-bottom:1px solid $greenish-gray;
			padding-left:20px;
			cursor:pointer;
			text-overflow:ellipsis;
			white-space:nowrap;
			overflow:hidden;
			padding-right:34px;
		}
		
		li:hover {
			background-color:$green;
			border-bottom:1px solid $green;
		}
		
		li.selected {
			background-color:$green;
			background-image:url(/images/chevron-white.png);
			background-repeat:no-repeat;
			background-position:right 20px center;
			border-bottom:1px solid $green;
		}
		
	}
	
	div.column {
		float:left;
		height:100%;
		position:relative;
		z-index:103;
		background-color: $light-slate;
		
		.back-button {
			background-image:url(/images/arrow-left.png);
			background-repeat:no-repeat;
			background-position:left;
			padding-left:25px;
			cursor:pointer;
		}
		
	}

	
	div.column.shadow {
		@include shadow-box(rgba(0,0,0,0.2), 15px, 0px, 30px, 0px);
	}
	
	div.column.white {
		background:transparent;
		color:$dark-slate;
		width:649px;
		//padding-left:35px;
		//padding-right:35px;
		
		.list {
			height:100%;
		}
		
		ul {
			margin-top:5px;
		}
		
		li {
			padding-left:38px;
			cursor:default;
			font-size:14px;
			//background-image:url(/images/btn-plus-green.png);
			//background-repeat:no-repeat;
			//background-position:left top 18px;
			margin-left:40px;
			margin-right:40px;
			line-height:23px;
			min-height:46px;
			padding-top:12px;
			padding-bottom:12px;
			margin-top:7px;
			cursor:pointer;
			position:relative;
			white-space:normal;
			
			.plus {
				//display: block;
				background-image: url(/images/btn-plus-green.png);
				width: 2px;
				//height: 23px;
				position: absolute;
				margin-left: -38px;
				margin-top: 5px;
				background-repeat: no-repeat;
				border:none;
			}
		}
		
		li:not(:last-child) {
			border-bottom:1px solid lightgray;
		}
		
		li:last-child {
			border-bottom:none;
		}
		
		li:hover {
			background-color:transparent;
			color:$green;
			
			.plus {
				background-position:-22px 0px;
			}
		}
	}
	
}

div.list::-webkit-scrollbar {
	width:7px;
}

div.list::-webkit-scrollbar-track {
    background:rgba(0,0,0,0.4);
}

div.list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: darkgray;
}

/* Animations */
.animate-slide.ng-hide-add,
.animate-slide.ng-hide-remove {
	-webkit-transition:all ease-in-out 0.3s;
  -moz-transition:all ease-in-out 0.3s;
  -o-transition:all ease-in-out 0.3s;
  transition:all ease-in-out 0.3s;
  display:block!important;
}

.animate-slide.ng-hide-add.ng-hide-add-active,
.animate-slide.ng-hide-remove {
	margin-left:-649px;
}

.animate-slide.ng-hide-add,
.animate-slide.ng-hide-remove.ng-hide-remove-active {
	margin-left:0px;
}

.column-container {
	margin-left:0px;
}