#studentContainer {
	.short {
		width:240px;
		span {
			white-space: nowrap;
	  	overflow: hidden;
	  	text-overflow: ellipsis;
			display:inline-block;
			max-width:200px;
		}
	}
	
	.header-row {
		display: block;
		height: 72px;
		
		span {
			top: 42%;
			position: relative;
			font-weight: 600;
			font-size: 15px;
			color:$dark-beige;
			display:inline-block;
		}
		
		span.short {
			width:265px;
		}
	}
}

.studentRow {
	input {
		font: inherit;
		display: inline-block;
		width: 200px;
		border: none;
		margin-left: -8px;
		color: inherit;
		height: 32px;
		margin-top: -8px;
		padding-left: 7px;
	}
	
	a {
		color:$green;
		font-size:12px;
		font-weight:500;
		cursor:pointer;
		margin-left:5px;
	}
	
	div {
		float:left;
		position: relative;
		top: 50%;
		margin-top: -10px;
		padding-left: 22px;
		font-size: 16px;
		font-weight: 500;
		color:$dark-slate;
	}
	

	
	.emails {
		font-size: 15px;
		font-weight: 400;
		
		input {
			width:600px;
		}
	}
	
	a.hover {
		display:none;
	}
	
	height: 47px;
	margin-bottom: 1px;
	background-color: $offwhite;
	clear:both;
}

.studentRow:hover, .studentRow.active {
	background-color:$darker-white;
	
	a.hover {
		display:inline-block;
	}
}