@import "compass/reset";
@import "compass/typography/links/link-colors";
@import "compass/utilities/general/clearfix";
@import "fonts";
@import "colours";
@import "uniform";

$zindexModalBackdrop:     1040 !default;
$zindexModal:             1050 !default;
$black:                 #000 !default;
$white:                 #fff !default;
@import "modals";

body {
  background-color: $beige;
  font-family: $roboto;
  font-size: 18px;
}

.container {
  width: 960px;
  margin: 0 auto;
}

h1 {
  font-size: 54px;
  line-height: 81px;
  font-weight: 700px;
  text-align: center;
  font-family: $roboto-slab;
  margin-bottom: 30px;
  
  span { 
    vertical-align: middle;
    font-size: 20px; 
  }
}

a { text-decoration: none; }

body > header {
  height: 70px;
  background: $slate;
  color: white;
  
  .container {
    position: relative;
  }
  
  a.logo {
    display: block;
    width: 138px;
    height: 69px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 31px 17px 28px;
    background: $slate;
    
    img {
      display: block;
    }
  }
  
  nav {
    margin-left: 230px;
    
    a {
      @include link-colors(white);
      float: left;
      height: 63px;
      padding-top: 7px;
      margin-right: 56px;
      font-size: 16px;
      font-weight: 500;
      text-transform: uppercase;
      
      span {
        display: block;
        line-height: 56px;
        background-color: $slate;
        padding-bottom: 7px;
      }
    }
    
		.pull-right {
			float: right;
		}

    a.gradebook.active, a.gradebook:hover { background: $green; }
    
    a.students.active, a.students:hover { background: $green; }
    
    a.resources.active, a.resources:hover { background: $green; }
    
    a:last-child {
      margin-right: 0;
    }
  }
}

.hero {
  color: white;
	
	textarea {
		background: transparent;
		border: none;
		color: white;
		margin-left: 25px;
		resize:none;
		outline:none;
	}
	
	.verticalLine {
	    border-left: thick solid white;
			border-width: 4px;
	}
	
	ul {
		line-height: 29px;
		margin-top: 10px;
	}
	
	li {
		margin-bottom: 11px;
	}
	
}

.hero.green {
  background: url(../images/green-background-pattern.gif);

		::-webkit-input-placeholder { /* WebKit browsers */
		    color:    $light-green;
		}
		:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		    color:    $light-green;
		}
		::-moz-placeholder { /* Mozilla Firefox 19+ */
		    color:    $light-green;
		}
		:-ms-input-placeholder { /* Internet Explorer 10+ */
		    color:    $light-green;
		}
	
	
	span {
		color: $dark-slate;
		font-size: 14px;
		font-weight: 500;
	}
	
	h1 {
		vertical-align: middle;
		
		span {
			color: white;
			font-size: 20px;
		}
	}
	
}

.title-input-text {
	font-family: $roboto-slab;
	font-size: 54px;
}

.desc-input-text {
	font-family: $roboto;
	font-size: 18px;
	font-weight: 200;
	margin-top: 13px;
}

.plus-white {
	background-image: url(/images/plus-white.png);
	background-repeat: no-repeat;
	padding-bottom: 5px;
	padding-left: 42px;
	margin-left: -12px;
	height: 20px;
	cursor: pointer;
	position: absolute;
	height: 25px;
	margin-top: 24px;
}

.wide-select {
	width: 232px;
}

.gradebook-coach {
	background-image: url(/images/arrow.png);
	background-repeat: no-repeat;
	margin-top: 13px;
	margin-left: 32px;
	padding-top: 40px;
	padding-left: 75px;
	font-size: 16px;
	font-weight: 300;
	color: $dark-beige;
	width: 370px;
	 
	span {
		font-family: $roboto-slab;
		font-weight: 500;
		font-size: 26px;
		color: $dark-slate;
	}
	
	p {
		line-height: 1.4;
		background-image: url(/images/pages.png);
		background-repeat: no-repeat;
		background-position-x: 380px;
		padding-right: 60px;
		margin-right: -70px;
		margin-top: -5px;
		padding-top: 3px;
	}
	
	a {
		color: $green;
		font-weight: 500;
	}
}

.new-page-modal {
	top: 11px;
	left: 313px;
	width: 724px;
	height: 252px;
	position: relative;
}

.beige-ex {
	background-image: url(/images/beige-ex.png);
}

.btn {
	@include border-radius(3px);
	color: white;
	font-weight: 400;
	font-size: 15px;
	font-family: Roboto;
	padding: 8px;
	padding-left: 15px;
	padding-right: 15px;
	cursor: pointer;
}

.btn-red {
	background-color: $red;
}

.tab-container {
	margin-top: 10px;
	margin-left: 34px;
	float: left;
	position: absolute;
}

.pages-tab {
	background-color: $medium-beige;
	//border-top: 7px $red solid;
	margin-top: 7px;
	float: left;
	
	span {
		display: block;
		line-height: 44px;
		width: 137px;
		text-align: center;
		color: $dark-beige !important;
	}
}

.pages-tab:not(:last-child) {
	span {
		border-right: 1px $chiaro-beige solid;
	}
}

.pages-tab.selected, .pages-tab:hover {
		background-color: $beige;
		border-top: 7px $red solid;
		margin-top: 0px;
		}