<div class="hero green" style="height:387px;">
	<div class="container">
		<div>Breadcrumbs</div>
  	<form>
			
			<div style="float:left;width:639px;">
				<textarea name="title" class="title-input-text" msd-elastic="\n" placeholder="Type a title" rows="2" autocorrect="off" ng-model="foo"/>
				<input type="text" name="description" autocomplete="off"/>
				<button type="submit" />
			</div>
			
			<div style="float:left;width:5px;height:215px;" class="verticalLine"></div>
			
			<div style="float:left;">
				Grade:<br/>
				Subject:<br/>
				Unit:<br/>
			</div>
			
		</form>
	</div>
</div>