<div class="hero green">
	<div class="container" style="height:200px;">
		<div style="text-align: center;padding-top: 40px;">
			<span>Select Curriculum:</span>
			<select ng-model="curriculum" ng-options="c as c.title for c in curriculums" ng-change="$state.go('admin.curriculum', {curriculum_id: curriculum.id});" cv-styled-select></select>
		</div>
		<nav class="tab-container">
			<a class="pages-tab" 
				 ng-class="{selected: $state.is('admin.curriculum.subjects')}"
				 ui-sref="admin.curriculum.subjects">
				<span>Subject & Strands</span>
			</a>
			<a class="pages-tab" 
				 ng-class="{selected: $state.includes('admin.curriculum.strand')}"
				 ui-sref="admin.curriculum.strand">
				<span>Units & Expectations</span>
			</a>
		</nav>
	</div>
</div>

<div class="page-container container" ui-view>

</div>