<div class="page-container container">
	<br/>
	<h3>Grade:</h3>
	<select ng-model="selectedUnit.grade" ng-change="selectedUnit.subject_id = null;"
					ng-options="u.grade as u.grade for u in units | unique:'grade'" cv-styled-select></select>
	<br/><br/>
	
	<h3>Subject:</h3>
	<select ng-model="selectedUnit.subject_id" class="wide-select" ng-disabled="selectedUnit.grade == null"
					ng-options="u.strand.subject.id as u.strand.subject.title for u in units | filter:{grade: selectedUnit.grade} | unique:'subject_id'" cv-styled-select>
		<option value="" disabled="disabled" >Select a subject</option>
	</select>
	<br/><br/>
	
	<h3>Unit:</h3>
	<select ng-model="selectedUnit" class="wide-select" ng-disabled="selectedUnit.subject_id == null"
					ng-options="u as u.title for u in units | filter: filterUnits"
					ng-change="goToUnit(selectedUnit);" cv-styled-select>
		<option value="" disabled="disabled">Select a unit</option>
	</select>
	<br/><br/>
	
	<br/><br/>
	
	<div ui-view>

	</div>
</div>