<form ng-submit="submitForm()">
  <div class="modal-header">
    <input type="text" id="silver-input" placeholder="Title" ng-model="agenda_item.title" 
					gains-focus required />
    <a class="close-button" ng-click="cancel()"><img src="/images/beige-ex.png"/></a>
  </div>
  <div class="modal-body">          
		<textarea ng-model="agenda_item.description" placeholder="Description"></textarea>
		<button class="btn btn-red" type="submit" style="">
			{{agenda_item.id ? 'Save' : 'Add'}} agenda item
		</button>
    <div class="due">
      <label>Due:</label>
      <input ng-focus="open($event)" type="text" class="form-control" datepicker-popup="{{format}}" ng-model="agenda_item.due_date" is-open="date.opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" ng-required="true" close-text="Close" show-button-bar="false" placeholder="Set Date" />
    </div>
  </div>
</form>