<div class="hero green" style="height:auto;min-height:201px;">
	<div class="container">
		<br/>
		<div class="breadcrumbs">
			<div ng-show="assessment.assessable.page">
				<a ui-sref="gradebook.page({page_id: assessment.assessable.page.id})">{{assessment.assessable.page.title}}</a>
				<span>{{assessment.assessable.title || 'Untitled'}}</span>
			</div>
		</div>
		<h2 class="print-show">{{assessment.student.first_name}} {{assessment.student.last_name}}</h2>
		<div class="print-show print-average c{{assessment.$averageGrade.substr(0,1)}}">{{assessment.$averageGrade || '?'}}</div>
		
		<div class="rubric-info" style="float:left;width:800px;padding-left:28px;margin-bottom:35px;">
			<label class="title-input-text" >{{assessment.assessable.title}}</label>
			<br />
			<div ng-hide="!showDetails">
				<ul style="margin-top:17px;line-height:20px;color:black;" ng-show="assessment.assessable.unit.id">
					<li style="display:inline;margin-right:10px;">
						<span>Grade {{assessment.assessable.unit.grade}}</span>
					</li>&bull;
					<li style="display:inline;margin-left:10px;margin-right:10px;">
						<span>{{assessment.assessable.unit.strand.subject.title}}</span>
					</li>&bull;
					<li style="display:inline;margin-left:10px;">
						<span>{{assessment.assessable.unit.title}}</span>
					</li>
				</ul><br/>
				<hr style="width:930px;border-color:white;border-top:none;border-bottom:2px solid white;"/>
				<label class="desc-input-text" style="width:800px;display:block;line-height:28px;margin-top:25px;">{{assessment.assessable.description}}</label>
				<br/>
				<div class="rubric-details" >
					<div style="float:left;width:800px;" ng-show="assessment.assessable.overall_expectations.length > 0 || assessment.assessable.custom_expectation_enabled">
						<label class="title-input-text" style="font-size:22px;">Overall Expectations</label>
						<label class="desc-input-text" style="display:block;;line-height:28px;" ng-repeat="overall in assessment.assessable.overall_expectations">{{overall.long_form}}</label>
						<label class="desc-input-text" style="display:block;line-height:28px;" ng-show="assessment.assessable.custom_expectation_enabled">{{assessment.assessable.custom_expectation}}</label>
					</div>
				</div>
			</div>
		</div>
		<div style="clear:both;"></div>
		<a class="details-toggle" style="float:right;font-size:16px;font-weight:300;cursor:pointer;" ng-click="showDetails = !showDetails" ng-show="assessment.assessable.description || assessment.assessable.unit.id || assessment.assessable.overall_expectations.length > 0 || assessment.assessable.custom_expectation_enabled">
			{{!!showDetails ? '&and; Hide' : '&or; Show'}} Details
		</a>
		<div style="clear:both;height:30px"></div>
	</div>
</div>

<!-- RUBRIC CONTENT -->
<div class="container page-container" style="padding-left:54px;" ng-switch="assessment.assessable.$type">
	<!-- STUDENTS -->
	<!--div class="side-panel" style="position:absolute;margin-left:-200px;width:160px;margin-top:90px;">
		<ul>
			<li ng-repeat="student in assessment.assessable.page.students">{{student.first_name + ' ' + student.last_name}}</li>
		</ul>
	</div-->
	
	<h2 class="print-hide">{{assessment.student.first_name}} {{assessment.student.last_name}}</h2>
	<div style="clear:both;"></div>
	<br/>
	<section style="margin-top:28px;" class="specific" ng-switch-when="rubric">
		<div class="header">
				<h4>SPECIFIC:</h4>
				<h4 class="red">LEVEL 1</h4>
				<h4 class="yellow">LEVEL 2</h4>
				<h4 class="bright-green">LEVEL 3</h4>
				<h4 class="green">LEVEL 4</h4>
		</div>
		<div style="clear:both;">
		<div class="rubric-group">
			<div class="rubric-row" 
					 ng-repeat-start="row in assessment.assessable.rows | orderBy:'created_at' track by markFor(row)"
					 ng-switch="marks[row.id].$wholeValue"
					 adjust-cell-height>
				<div class="rubric-column criteria min-height">
					<span>{{row.criteria}}</span>
				</div>
				<div class="rubric-column level assess">
					<span class="mark four red">
						<div class="marked cR" style="background-color:rgba(0,0,0,0.8);" ng-switch-when="0">
							<span class="middle">{{marks[row.id].$value}}</span>
						</div>
						<div class="marked c1" ng-switch-when="1">
							<span class="middle">{{marks[row.id].$value}}</span>
						</div>
						<div class="value frst colorR" ng-click="saveMark(marks[row.id], 0)"><span class="middle">R</span></div>
						<div class="value scnd" ng-click="saveMark(marks[row.id], 1)"><span class="middle">1-</span></div>
						<div class="value thrd" ng-click="saveMark(marks[row.id], 2)"><span class="middle">1</span></div>
						<div class="value frth" ng-click="saveMark(marks[row.id], 3)"><span class="middle">1+</span></div>
						{{row.level1_description}}
					</span>
				</div>
				<div class="rubric-column level assess">
					<span class="mark yellow">
						<div class="marked c2" ng-switch-when="2">
							<span class="middle">{{marks[row.id].$value}}</span>
						</div>
						<div class="value frst" ng-click="saveMark(marks[row.id], 4)"><span class="middle">2-</span></div>
						<div class="value scnd" ng-click="saveMark(marks[row.id], 5)"><span class="middle">2</span></div>
						<div class="value thrd" ng-click="saveMark(marks[row.id], 6)"><span class="middle">2+</span></div>
						{{row.level2_description}}
					</span>
				</div>
				<div class="rubric-column level assess">
					<span class="mark bright-green">
						<div class="marked c3" ng-switch-when="3">
							<span class="middle">{{marks[row.id].$value}}</span>
						</div>
						<div class="value frst" ng-click="saveMark(marks[row.id], 7)"><span class="middle">3-</span></div>
						<div class="value scnd" ng-click="saveMark(marks[row.id], 8)"><span class="middle">3</span></div>
						<div class="value thrd" ng-click="saveMark(marks[row.id], 9)"><span class="middle">3+</span></div>
						{{row.level3_description}}
					</span>
				</div>
				<div class="rubric-column level assess">
					<span class="mark green">
						<div class="marked c4" ng-switch-when="4">
							<span class="middle">{{marks[row.id].$value}}</span>
						</div>
						<div class="value frst" ng-click="saveMark(marks[row.id], 10)"><span class="middle">4-</span></div>
						<div class="value scnd" ng-click="saveMark(marks[row.id], 11)"><span class="middle">4</span></div>
						<div class="value thrd" ng-click="saveMark(marks[row.id], 12)"><span class="middle">4+</span></div>
						{{row.level4_description}}
					</span>
				</div>
			</div>
			<div class="bottom-divider"></div>
			<div class="bottom-divider wide" ng-repeat-end></div>
		</div>
		
		
		<br/><br/><br/>

	</section>
	<!-- CHECKLIST -->
	<section style="margin-top:28px;" class="specific checklist" ng-switch-when="checklist">
		<div class="header" style="text-align:center;">
				<h4 style="width:589px;text-align:left;">CHECKLIST CRITERIA</h4>
				<h4 class="green">YES</h4>
				<h4 class="red">NO</h4>
		</div>
		<div style="clear:both;"></div>
		<div class="rubric-group">
			<div class="rubric-row" 
					 ng-repeat-start="item in assessment.assessable.checklist_items | orderBy:'created_at' track by markFor(item)" 
					 adjust-cell-height>
				<div class="rubric-column criteria">
					<span>{{item.criteria}}</span>
				</div>
				<div class="rubric-column level assess grade-cell">
					<span class="mark {{marks[item.id].value === 12 ? 'checked' : ''}}">
						<a class="check hoverable" ng-click="saveMark(marks[item.id], 12)">
							<span class="icn-check"></span>
						</a>
					</span>
				</div>
				<div class="rubric-column level assess grade-cell">
					<span class="mark {{marks[item.id].value === 0 ? 'exed' : ''}}">
						<a class="ex hoverable" ng-click="saveMark(marks[item.id], 0)">
							<span class="icn-ex"></span>
						</a>
					</span>
				</div>
			</div>
			<div class="bottom-divider" ng-repeat-end></div>
			<div class="bottom-divider wide"></div>
		</div>
		<br/><br/><br/>
	</section>
	
	<section class="specific" ng-class="{null:'print-hide', undefined:'print-hide'}[assessment.comment]">
		<h4>ADDITIONAL COMMENTS</h4>
		<br/>
		<ul class="overalls" style="padding-top:0px;">
			<li style="padding-left:0px;" ng-show="!editComment" ng-hide="!assessment.comment">
				<a class="pencil" style="margin-left:-43px;vertical-align:middle;padding-top:3px;" href="" ng-click="assessment.$commentClone = assessment.comment; editComment = true;"></a>
				<pre style="margin-top:-28px;width:920px;">{{assessment.comment}}</pre>
			</li>
			<li style="padding-left:0px;" ng-show="editComment || !assessment.comment">
				<textarea class="text-edit" rows="4" ng-model="assessment.$commentClone" msd-elastic=""></textarea>
				<button class="btn btn-green" ng-click="assessment.comment = assessment.$commentClone;assessment.$save();editComment = false;">Save Comment</button>
				<button class="btn btn-green" ng-show="assessment.comment" ng-click="editComment = false;">Cancel</button>
			</li>
			<!--textarea ng-model="assessment.comment" class="editable-text" style="height:22px;margin-top:8px;" msd-elastic="" placeholder="Type a comment" ng-blur="assessment.$save()" blurs-on-enter></textarea-->
		</ul>
	</section>
	<br/><br/><br/>
</div>

<!-- FINAl GRADE -->
<div class="final">
	<span class="grade-span">FINAL GRADE</span>
	<div class="grade color{{assessment.$averageGrade.substr(0,1)}}">
		<span class="grade-span" ng-show="assessment.$isAutoGrade">{{assessment.$averageGrade || '?'}}</span>
		<input class="manual" type="text" 
					 ng-show="!assessment.$isAutoGrade"
					 ng-model="assessment.$averageGrade" 
					 ng-blur="assessment.$save()" 
					 cv-pattern="/^(r|R|[1-4](\+|\-)?)$/"
					 blurs-on-enter></input>
	</div>
	<span class="auto-grade">
		<input type="checkbox" ng-model="assessment.$isAutoGrade" 
													 ng-click="toggleAutograde()" cv-styled-checkbox />Autograde
	</span>
	<a class="btn btn-green" ui-sref="gradebook.page({page_id: assessment.assessable.page.id})">Finished</a>
	<a class="btn btn-light-slate" style="margin-top:10px;" ng-click="printAssessment()" analytics-on="click" analytics-event="assessment.print" analytics-assessment-type="{{assessment.$type}}">
		<img src="/images/print.png" />Print
	</a>
</div>

<!-- FOOTER LOGO -->
<div class="print-show" style="position:absolute;bottom:10px;right:0px;">
	<img src="/images/print_icon.jpg"/>
</div>