<div class="hero green" style="height:251px;">
	<div class="container">
		<br/>
  	<form>
			
			<div class="breadcrumbs">
				<div ng-show="assessment.assessable.page">
					<a ui-sref="gradebook.page({page_id: assessment.assessable.page.id})">{{assessment.assessable.page.title}}</a>
					<span>{{assessment.assessable.title || 'Untitled'}}</span>
				</div>
			</div>
			
			<div style="float:left;width:639px;">
				<label class="title-input-text" style="margin-left:28px;">{{assessment.assessable.title}}</label>
				<br />

			</div>

			
		</form>
	</div>
</div>
<!-- RUBRIC CONTENT -->
<div class="container page-container" style="padding-left:54px;" >
	<h2>{{assessment.student.first_name}} {{assessment.student.last_name}}</h2>
	<div style="clear:both;"></div>
	<br/>
	<section style="margin-top:28px;" class="specific">
		<div class="header">
				<h4>SPECIFIC:</h4>
				<h4>LEVEL 1</h4>
				<h4>LEVEL 2</h4>
				<h4>LEVEL 3</h4>
				<h4>LEVEL 4</h4>
		</div>
		<div style="clear:both;">
		<div class="rubric-group">
			<div class="rubric-row" 
					 ng-repeat="row in assessment.assessable.rows track by markFor(row)"
					 ng-switch="marks[row.id].$wholeValue">
				<div class="top-cover"></div>
				<div class="rubric-column criteria min-height">
					<span>{{row.criteria}}</span>
				</div>
				<div class="rubric-column level assess">
					<span class="mark four red">
						<div class="marked" style="background-color:rgba(0,0,0,0.8);" ng-switch-when="0">
							<span class="middle">{{marks[row.id].$value}}</span>
						</div>
						<div class="marked" ng-switch-when="1">
							<span class="middle">{{marks[row.id].$value}}</span>
						</div>
						<div class="value frst colorR" ng-click="saveMark(marks[row.id], 0)"><span class="middle">R</span></div>
						<div class="value scnd" ng-click="saveMark(marks[row.id], 1)"><span class="middle">1-</span></div>
						<div class="value thrd" ng-click="saveMark(marks[row.id], 2)"><span class="middle">1</span></div>
						<div class="value frth" ng-click="saveMark(marks[row.id], 3)"><span class="middle">1+</span></div>
						{{row.level1_description}}
					</span>
				</div>
				<div class="rubric-column level assess">
					<span class="mark yellow">
						<div class="marked" ng-switch-when="2">
							<span class="middle">{{marks[row.id].$value}}</span>
						</div>
						<div class="value frst" ng-click="saveMark(marks[row.id], 4)"><span class="middle">2-</span></div>
						<div class="value scnd" ng-click="saveMark(marks[row.id], 5)"><span class="middle">2</span></div>
						<div class="value thrd" ng-click="saveMark(marks[row.id], 6)"><span class="middle">2+</span></div>
						{{row.level2_description}}
					</span>
				</div>
				<div class="rubric-column level assess">
					<span class="mark bright-green">
						<div class="marked" ng-switch-when="3">
							<span class="middle">{{marks[row.id].$value}}</span>
						</div>
						<div class="value frst" ng-click="saveMark(marks[row.id], 7)"><span class="middle">3-</span></div>
						<div class="value scnd" ng-click="saveMark(marks[row.id], 8)"><span class="middle">3</span></div>
						<div class="value thrd" ng-click="saveMark(marks[row.id], 9)"><span class="middle">3+</span></div>
						{{row.level3_description}}
					</span>
				</div>
				<div class="rubric-column level assess">
					<span class="mark green">
						<div class="marked" ng-switch-when="4">
							<span class="middle">{{marks[row.id].$value}}</span>
						</div>
						<div class="value frst" ng-click="saveMark(marks[row.id], 10)"><span class="middle">4-</span></div>
						<div class="value scnd" ng-click="saveMark(marks[row.id], 11)"><span class="middle">4</span></div>
						<div class="value thrd" ng-click="saveMark(marks[row.id], 12)"><span class="middle">4+</span></div>
						{{row.level4_description}}
					</span>
				</div>
				<div class="bottom-divider"></div>
				<div class="bottom-divider wide"></div>
				<div class="bottom-cover"></div>
			</div>
		</div>
		
		
		<br/><br/><br/><br/><br/>

	</section>
</div>

<!-- FINAl GRADE -->
<div class="final">
	<span class="grade-span">FINAL GRADE</span>
	<div class="grade color{{assessment.$averageGrade.substr(0,1)}}">
		<span class="grade-span" ng-show="assessment.$isAutoGrade">{{assessment.$averageGrade || '?'}}</span>
		<input class="manual" type="text" 
					 ng-show="!assessment.$isAutoGrade"
					 ng-model="assessment.$averageGrade" 
					 ng-blur="assessment.$save()" 
					 cv-pattern="/^(r|R|[1-4](\+|\-)?)$/"
					 blurs-on-enter></input>
	</div>
	<span class="auto-grade">
		<input type="checkbox" ng-model="assessment.$isAutoGrade" 
													 ng-click="toggleAutograde()" cv-styled-checkbox />Autograde
	</span>
	<a class="btn" ui-sref="gradebook.page({page_id: assessment.assessable.page.id})">Finished</a>
</div>