<style>
	body {
		background-image:url("/images/beige-background-pattern.gif");
	}
	
	ul span{
		width:170px !important;
	}
</style>
<style ng-if="token">
	header {
		display:none !important;
	}
</style>
<div class="auth-box" style="width:650px;">
	<div>
		<div class="bottom-noise">
			<div class="top-noise"></div>
			<ul>
				<li style="font-size:16px;font-weight:300;width:350px;margin:auto;text-align:center;margin-top:0px;height:auto;min-height:39px;" ng-repeat="message in error">
					<img style="vertical-align:middle;margin-left:-37px;position:absolute;" src="/images/exclamation.png" />
					<p style="display:inline;line-height:23px;">{{message}}</p>
				</li>
			</ul>
			<ul style="margin-bottom:82px;width:470px;height:200px;">
				<li>
					<span>New Password</span>
					<input type="password" ng-model="me.password"/>
				</li>
				<li>
					<span>Confirm Password</span>
					<input type="password" ng-model="me.password_confirmation"/>
				</li>
				<li>
					<button class="btn btn-green" ng-click="changePassword()" style="height:48px;width:190px;font-size:18px;font-weight:300;margin:auto;display:block;margin-top:35px;">Change Password</button>
				</li>
			</ul>
			<span class="chalk-brush"></span>
			<span class="ledge"></span>
		</div>
	</div>
</div>