<div class="hero green">
	<div class="container" style="height:275px;">
  	<h1 style="padding-top:97px;">Gradebook&nbsp;&nbsp;<span><ng-pluralize count="pages.length" when="{'1': '(1 Page)', 'other': '({} Pages)'}"></ng-pluralize></span></h1>
		
		<div style="position:absolute;">
			<a class="plus white" style="line-height:75px;" ng-click="newPage()"></a>
			<a style="line-height:75px;color:white;" href="" ng-click="newPage()" ng-show="pages.length == 0">Add your first page</a>
		</div>
		
		<nav class="tab-container">
			<a class="pages-tab" 
				 ng-class="{selected: $stateParams.page_id == page.id}"
				 ng-repeat="page in pages | orderBy:'created_at':true | swapForId:5:$stateParams.page_id | limitTo: 6" 
				 ui-sref="gradebook.page({ page_id: page.id })">
				<span>{{page.title}}</span>
			</a>
			<a class="pages-tab dropdown-toggle" ng-show="pages.length > 6">
				<span style="width:65px;">
					<img src="/images/dropdown-red.png" style="vertical-align:middle;" />
				</span>
			</a>
			<ul class="dropdown-menu" style="left:auto;right:0;">
	    	<li ng-repeat="page in pages | orderBy:'created_at':true | swapForId:5:$stateParams.page_id | slice:6:pages.length">
	      	<a ui-sref="gradebook.page({ page_id: page.id })">{{page.title}}</a>
	    	</li>
	  	</ul>
		</nav>
	</div>
</div>
<div class="container" id="pageContainer">
	<div class="gradebook-coach" ng-show="pages.length == 0">
		<span>Get started!</span><br/><br/>
		<p>
			You'll organize the classes or subjects you teach by adding different pages in your Gradebook. So go ahead and <a href="" ng-click="newPage()">add your first page</a>.
		</p>
	</div>
	<div class="page-container" ng-show="pages.length > 0" ui-view></div>
</div>