<div class="hero green">
	<div class="container" style="height:275px;">
  	<h1 style="padding-top:97px;">Gradebook&nbsp;&nbsp;<span>(0 Pages)</span></h1>
		<a class="plus-white" style="line-height:75px;">Add your first page</a>
	</div>
</div>
<div class="container">
	<div class="gradebook-coach">
		<span>Get started!</span><br/><br/>
		You'll organize the classes or subjects you teach by adding different pages in your Gradebook. So go ahead and <a href="#">add your first page</a>.
	</div>
</div>