<form>
<div class="modal-header">

    <input type="text" id="beige-input" placeholder="Type a title (eg. French P2)" ng-model="page.title" required />
		<a class="close-button" ng-click="cancel()"><img src="/images/beige-ex.png"/></a>

</div>
<div class="modal-body">
    <ul>
    	<li>Grade:<br/>
				<select class="narrow-select"
								ng-model="page.grade" ng-options="u.grade as u.grade for u in units | unique:'grade'" cv-styled-select></select>
			</li>
			<!--li>Term:<br/>
				<select></select>
			</li-->
			<li>Subject:<br/>
				<select ng-model="page.subject_id" ng-disabled="page.grade == null" class="wider-select"
								ng-options="u.strand.subject.id as u.strand.subject.title for u in units | filter:{grade: page.grade} | unique:'u.strand.subject.id'"
								cv-styled-select></select>
			</li>
			<li>Use students from:<br/>
				<select ng-model="page.students_from_page" class="wider-select"
								ng-options="page.id as page.title for page in pages"
								cv-styled-select></select>
			</li>
    </ul>
</div>
<div class="modal-footer">
    <a class="btn btn-red" ng-click="newPage()">Add page</a>
</div>
</form>