<div style="height:80px;">
	<h2>{{page.title}}</h2>
	<ul class="header" ng-show="page.grade">
		<li><span>Grade:&nbsp;</span> {{page.grade}}</li>
		<li><div class="beige-box"></div></li>
		<li><span>Subject:&nbsp;</span> {{page.subject.title}}</li>
		<li><a class="pencil" href="" ng-click="openPageModal(page)"></a></li>
	</ul>
</div>
<div style="height:15px;"></div>
<div class="student-list scroll-fixed" ng-style="{'border-right': (page.students.length > 0 || page.rubrics.length > 0 ? '' : 'none')}">
	<div class="student" ng-class="{true:'header-row', false:''}[page.students.length > 0 || page.rubrics.length > 0]">
		<div class="student header-cell">
			<a class="plus green" ng-click="newStudent();">Add a student</a>
		</div>
	</div>
	<div class="student row" ng-repeat="student in page.students | orderBy:'last_name'">
		<div class="student-cell">
			<a href="" class="close-button" ng-click="deleteStudent(student)"><img src="images/beige-ex.png" /></a>
			<span>{{student.full_name}}</span>
		</div>
	</div>
</div>
<div class="scrollbar-container" ng-show="page.rubrics.length > 5">
	<div class="scrollbar" id="grid-scrollbar"><div class="empty-content" style="height:17px;" ng-style="{'width': (page.rubrics.length*117)+'px'}"></div></div>
</div>
<div class="grid-container">
	<div class="drop-shadow" ng-show="page.rubrics.length > 5"></div>
	<div class="scroll-container" style="overflow-x: auto;" ng-show="page.rubrics.length > 0" scroll-with="#grid-scrollbar" >
		<div class="scroll-content" ng-style="{width: (page.rubrics.length*117) + 'px'}">
			<div class="rubric header-row">
				<div class="rubric header-cell" ng-repeat="rubric in page.rubrics">
					<div class="title-container">
						<a ui-sref="rubric({id: rubric.id})">{{rubric.title || 'Untitled'}}</a>
					</div>
				</div>
			</div>
			<div class="grade row" ng-repeat="student in page.students | orderBy:'last_name'">
				<div class="grade-cell" ng-repeat="rubric in page.rubrics track by assessmentFor(student, rubric)" 
																ng-switch="assessments[student.id][rubric.id].$status">
					<a ng-switch-when="incomplete" ui-sref="assessment({id: assessments[student.id][rubric.id].id})" class="gray">
						? <span ng-if="assessments[student.id][rubric.id].$cachedAverage">({{assessments[student.id][rubric.id].$cachedAverage}})</span>
					</a>
					<a ng-switch-when="marked" ui-sref="assessment({id: assessments[student.id][rubric.id].id})" class="color{{assessments[student.id][rubric.id].$cachedAverage.substr(0,1)}}">
						{{assessments[student.id][rubric.id].value || assessments[student.id][rubric.id].$cachedAverage}}
					</a>
					<a ng-switch-default href="" class="new" ng-click="saveAndAssess(assessments[student.id][rubric.id])"> + </a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="pin-right scroll-fixed" ng-class="{true:'with-divider', false:''}[page.rubrics.length > 0]" ng-style="{height: (94 + (page.students ? page.students.length * 50 : 0)) + 'px'}"> <!-- HEIGHT MUST BE SET ON THIS -->
	<div class="rubric" ng-class="{true:'header-row', false:''}[page.students.length > 0 || page.rubrics.length > 0]">
		<div class="rubric header-cell" ng-style="{width: (page.rubrics.length > 0 ? '113px' : '265px')}">
			<a class="plus green"  ng-style="{'margin-left': (page.rubrics.length > 0 ? '40px' : '34px')}" style="margin-left:34px;position:relative;top:39px;" ng-click="newRubric()">
				{{page.rubrics.length > 0 ? '' : 'Add your first rubric'}}
			</a>
		</div>
	</div>
</div>
	
