<div style="height:80px;">
	<h2>{{page.title}}</h2>
	<ul class="header" ng-show="page.grade">
		<li><span>Grade:&nbsp;</span> {{page.grade}}</li>
		<li><div class="beige-box"></div></li>
		<li><span>Subject:&nbsp;</span> {{page.subject.title}}</li>
		<li><a class="pencil" href="" ng-click="openPageModal(page)"></a></li>
	</ul>
</div>
<div style="height:15px;"></div>
<div class="student" ng-class="{true:'bottom-border', false:''}[page.students.length > 0]">
	<div class="student header-cell">
		<a class="plus green" ng-click="newStudent();">Add a student</a>
	</div>
</div>
<div class="scrollbar-container" ng-show="page.rubrics.length + page.assignments.length + page.checklists.length > 5">
	<div class="scrollbar" id="grid-scrollbar"><div class="empty-content" style="height:17px;" ng-style="{'width': ((page.rubrics.length+page.assignments.length+page.checklists.length)*117)+'px'}"></div></div>
</div>
<div class="grid-container">
	<!--div class="drop-shadow" ng-show="page.rubrics.length + page.assignments.length > 5"></div-->
	<div class="scroll-container" ng-show="page.rubrics.length + page.assignments.length + page.checklists.length + page.students.length > 0">
		<div class="scroll-content" scroll-with="#grid-scrollbar">
			<div class="rubric header-row">
				<div class="rubric header-cell" ng-repeat="column in page.rubrics.concat(page.assignments, page.checklists) | orderBy:'created_at'">
					<a class="delete-ex" ng-click="removeAssignment(column)" ng-show="column.$type === 'assignment'"></a>
					<div class="title-container" ng-switch="column.$type">
						<a ng-switch-default ui-sref="{{column.$type}}({id: column.id})">{{column.title || 'Untitled'}}</a>
						<textarea ng-switch-when="assignment" class="editable-text" style="height:20px;" placeholder="Untitled" ng-model="column.title" ng-blur="column.$save()" msd-elastic="" blurs-on-enter></textarea>
					</div>
				</div>
			</div>
			<br/>
			<div class="grade row" ng-repeat-start="student in page.students | orderBy:'last_name'">
				<div class="student-cell">
					<div class="student-background"></div>
					<a href="" class="close-button" ng-click="deleteStudent(student)"><img src="images/beige-ex.png" /></a>
					<span>{{student.full_name}}</span>
				</div>
				<div class="grade-cell" ng-repeat="assessment in student.$assessmentsFor(page.rubrics, page.assignments, page.checklists) | orderBy:'$columnCreatedAt'"
																ng-switch="assessment.assessable.$type"
																bubble-delay="assessment.id" bubble-model="assessment.comment">
					<!--div class="bubble-container" style="position:absolute;"-->
						<!--div class="bubble" ng-shows="assessment.id">
							<textarea class="editable-text" style="height:43px;" placeholder="Type a comment" ng-model="assessment.comment" ng-auto-expands msd-elastics="" ng-blur="assessment.$save();" blurs-on-enter></textarea>
						</div>
					<!--/div-->
					<div class="has-comment" ng-show="assessment.comment">
						<div class="dot"></div>
					</div>
					<span ng-switch-default ng-switch="assessment.$status">
						<a ng-switch-when="incomplete" ui-sref="assessment({id: assessment.id})" class="gray">
							? <span ng-if="assessment.$cachedAverage">({{assessment.$cachedAverage}})</span>
						</a>
						<a ng-switch-when="marked" ui-sref="assessment({id: assessment.id})" class="color{{assessment.$cachedAverage.substr(0,1)}}">
							{{assessment.$cachedAverage}}
						</a>
						<a ng-switch-default href="" class="new" ng-click="saveAndAssess(assessment)"> + </a>
					</span>
					<span ng-switch-when="assignment" ng-switch="assessment.assessable.assignment_type">
						<span ng-switch-when="check" class="{{assessment.value == 0 ? 'exed' : (assessment.value == 1 ? 'checked' : '')}}" >
							<span ng-show="assessment.value == null" class="divider-container">
								<span class="divider"></span>
							</span>
							<a class="ex hoverable" bubble-toggle="click" ng-click="markAssessment(assessment, 0);">
								<span class="icn-ex"></span>
							</a>
							<a class="check hoverable" bubble-toggle="click" ng-click="markAssessment(assessment, 1);">
								<span class="icn-check"></span>
							</a>
						</span>
						<a ng-switch-default class="color{{assessment.$assignmentAverage}}">
							<input type="text" ng-class="{false:'marked'}[assessment.value == null || assessment.value === '']" ng-model="assessment.value" cv-pattern="/(^[1-9]\d?$)|^100$/" ng-blur="assessment.$save()" bubble-toggle="focus" blurs-on-enter/>%
						</a>
					</span>
				</div>
			</div>
			<br ng-repeat-end/>
		</div>
	</div>
</div>
<div class="pin-right scroll-fixed" style="{{page.rubrics.length + page.assignments.length + page.checklists.length > 5 ? '' : 'margin-left:-4px;'}}" ng-class="{true:'with-divider', false:''}[page.rubrics.length + page.assignments.length + page.checklists.length > 0]" ng-style="{height: ((104 + (page.students ? page.students.length * 50 : 0)) + 'px')}"> <!-- HEIGHT MUST BE SET ON THIS -->
	<div class="rubric" ng-class="{true:'header-row', false:''}[page.students.length > 0 || (page.rubrics.length + page.assignments.length + page.checklists.length) > 0]">
		<div class="rubric header-cell" style="overflow:visible;" ng-style="{width: (page.rubrics.length + page.assignments.length + page.checklists.length > 0 ? '113px' : (page.students.length > 0 ? '315px' : '615px'))}">
			<a class="plus green dropdown-toggle"  ng-style="{'margin-left': (page.rubrics.length + page.assignments.length + page.checklists.length > 0 ? '40px' : (page.students.length > 0 ? '34px' : '204px'))}" style="margin-left:34px;position:relative;top:39px;">
				{{page.rubrics.length + page.assignments.length + page.checklists.length > 0 ? '' : 'Add your first assessment'}}
			</a>
			<ul class="dropdown-menu" ng-style="{left:(page.rubrics.length + page.assignments.length + page.checklists.length + page.students.length > 0 ? '' : '140px')}">
	    	<li>
	      	<a class="menu-item" ng-click="newRubric()" >
						<span class="icn-container">
							<img src="/images/menu-rubric.png" />
						</span>
						Rubric
					</a>
	    	</li>
				<li>
					<a class="menu-item" ng-click="newChecklist()">
						<span class="icn-container">
							<img src="/images/menu-checklist.png" />
						</span>
						Checklist
					</a>
				</li>
				<li>
					<a class="menu-item" ng-click="newAssignment({assignment_type: 'percentage'})" >
						<span class="icn-container">
							<img src="/images/menu-grade.png" />
						</span>
						Manual Grade
					</a>
				</li>
				<li>
					<a class="menu-item" ng-click="newAssignment({assignment_type: 'check'})">
						<span class="icn-container">
							<img src="/images/menu-check.png" />
						</span>
						Manual Check
					</a>
				</li>
	  	</ul>
		</div>
	</div>
</div>
	
