<div style="height:80px;">
	<h2>{{page.title}}</h2>
	<ul class="header" ng-show="page.grade">
		<li><span>Grade:&nbsp;</span> {{page.grade}}</li>
		<li><div class="beige-box"></div></li>
		<li><span>Subject:&nbsp;</span> {{page.subject.title}}</li>
		<li><a class="pencil" href="" ng-click="openPageModal(page)"></a></li>
	</ul>
</div>
<div style="height:15px;"></div>
<div class="student" style="position:absolute;" ng-class="{true:'header-row', false:''}[page.students.length > 0 || page.rubrics.length > 0]">
	<div class="student header-cell">
		<a class="plus green" ng-click="newStudent();">Add a student</a>
	</div>
</div>
<div class="scrollbar-container" ng-show="page.rubrics.length + page.assignments.length > 5">
	<div class="scrollbar" id="grid-scrollbar"><div class="empty-content" style="height:17px;" ng-style="{'width': ((page.rubrics.length+page.assignments.length)*117)+'px'}"></div></div>
</div>
<div class="grid-container" style="left:168px;">
	<div class="drop-shadow" ng-show="page.rubrics.length + page.assignments.length > 5"></div>
	<div class="scroll-container" style="overflow-x: auto;" ng-show="page.rubrics.length + page.assignments.length > 0" scroll-with="#grid-scrollbar" >
		<div class="scroll-content" ng-style="{width: ((page.rubrics.length + page.assignments.length)*116) + 'px'}">
			<div class="rubric header-row">
				<div class="rubric header-cell" ng-repeat="column in page.rubrics.concat(page.assignments) | orderBy:'created_at'">
					<a class="delete-ex" ng-click="removeAssignment(column)" ng-if="column.$type === 'assignment'"></a>
					<div class="title-container" ng-switch="column.$type">
						<a ng-switch-when="rubric" ui-sref="rubric({id: column.id})">{{column.title || 'Untitled'}}</a>
						<textarea ng-switch-when="assignment" class="editable-text" style="height:20px;" placeholder="Untitled" ng-model="column.title" ng-blur="column.$save()" msd-elastic="" blurs-on-enter></textarea>
					</div>
				</div>
			</div>
			<div class="grade row" ng-repeat="student in page.students | orderBy:'last_name'">
				<div class="student-cell">
					<div class="student-background"></div>
					<a href="" class="close-button" ng-click="deleteStudent(student)"><img src="images/beige-ex.png" /></a>
					<span>{{student.full_name}}</span>
				</div>
				<div class="grade-cell" ng-repeat="assessment in student.$assessmentsFor(page.rubrics, page.assignments) | orderBy:'$columnCreatedAt'" 
																ng-switch-old="assessment.$status"
																ng-switch="assessment.assessable.$type"
																bubble-delay="assessment.comment != null && assessment.comment !== ''">
					<div class="bubble">
						<textarea class="editable-text" style="height:43px;" placeholder="Type a comment" ng-model="assessment.comment" msd-elastic="" ng-blur="assessment.$save()" blurs-on-enter>Something here</textarea>
					</div>
					<div class="has-comment" ng-show="assessment.comment">
						<div class="dot"></div>
					</div>
					<span ng-switch-when="rubric" ng-switch="assessment.$status">
						<a ng-switch-when="incomplete" ui-sref="assessment({id: assessment.id})" class="gray">
							? <span ng-if="assessment.$cachedAverage">({{assessment.$cachedAverage}})</span>
						</a>
						<a ng-switch-when="marked" ui-sref="assessment({id: assessment.id})" class="color{{assessment.$cachedAverage.substr(0,1)}}">
							{{assessment.$cachedAverage}}
						</a>
						<a ng-switch-default href="" class="new" ng-click="saveAndAssess(assessment)"> + </a>
					</span>
					<span ng-switch-when="assignment" ng-switch="assessment.assessable.assignment_type">
						<span ng-switch-when="check" ng-class="{0:'exed', 1:'checked'}[assessment.value]" >
							<span class="divider-container">
								<span ng-show="assessment.value == null" class="divider"></span>
							</span>
							<a class="ex hoverable" bubble-toggle="click" ng-classs="{true:'selected'}[assessment.value == 0]" ng-click="assessment.value = 0;assessment.$save()">
								<span class="icn-ex"></span>
							</a>
							<a class="check hoverable" bubble-toggle="click" ng-classs="{false:'selected'}[!!assessment.value == 0]" ng-click="assessment.value = 1;assessment.$save()">
								<span class="icn-check"></span>
							</a>
						</span>
						<a ng-switch-default class="color{{assessment.$assignmentAverage}}">
							<input type="text" ng-class="{false:'marked'}[assessment.value == null || assessment.value === '']" ng-model="assessment.value" cv-pattern="/(^[1-9]\d?$)|^100$/" ng-blur="assessment.$save()" bubble-toggle="focus" blurs-on-enter/>%
						</a>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="pin-right scroll-fixed" style="margin-left:168px;" ng-class="{true:'with-divider', false:''}[page.rubrics.length + page.assignments.length > 0]" ng-style="{height: (104 + (page.students ? page.students.length * 50 : 0)) + 'px'}"> <!-- HEIGHT MUST BE SET ON THIS -->
	<div class="rubric" ng-class="{true:'header-row', false:''}[page.students.length > 0 || (page.rubrics.length + page.assignments.length) > 0]">
		<div class="rubric header-cell" style="overflow:visible;" ng-style="{width: (page.rubrics.length + page.assignments.length > 0 ? '113px' : '315px')}">
			<a class="plus green dropdown-toggle"  ng-style="{'margin-left': (page.rubrics.length + page.assignments.length > 0 ? '40px' : '34px')}" style="margin-left:34px;position:relative;top:39px;">
				{{page.rubrics.length + page.assignments.length > 0 ? '' : 'Add your first assessment'}}
			</a>
			<ul class="dropdown-menu" style="">
	    	<li>
	      	<a class="menu-item" ng-click="newRubric()">
						<span class="icn-container">
							<img src="/images/menu-rubric.png" />
						</span>
						Rubric
					</a>
	    	</li>
				<li>
					<a class="menu-item" ng-click="newAssignment({assignment_type: 'percentage'})">
						<span class="icn-container">
							<img src="/images/menu-grade.png" />
						</span>
						Manual Grade
					</a>
				</li>
				<li>
					<a class="menu-item" ng-click="newAssignment({assignment_type: 'check'})">
						<span class="icn-container">
							<img src="/images/menu-check.png" />
						</span>
						Manual Check
					</a>
				</li>
	  	</ul>
		</div>
	</div>
</div>
	
