<div class="modal-header" >
		<span>Select an assessment</span>
		<a class="close-button" ng-click="cancel()"><img src="/images/beige-ex.png"/></a>
		<br /><br /><br />
		<div class="tip">
			Note that you can only reuse originally created assessments
		</div>
		<br />
		<ul class="list">
			<li ng-repeat="assignment in rubrics.concat(checklists) | orderBy:'created_at'" ng-click="copyAssignment(assignment)">
				<span class="icn-container">
					<img src="/images/menu-rubric.png" ng-if="assignment.$type === 'rubric'" />
					<img src="/images/menu-checklist.png" ng-if="assignment.$type === 'checklist'" />
				</span>
				<a>{{assignment.title || 'Untitled'}}</a>
			</li>
		</ul>
</div>