<div class="hero green" >
	<div class="container">
		<br/>
  	<form>
			
			<div class="breadcrumbs">
				<div ng-show="rubric.page">
					<a ui-sref="gradebook.page({page_id: rubric.page.id})">{{rubric.page.title}}</a>
					<span>{{rubric.title || 'New ' + rubric.$type.capitalize()}}</span>
				</div>
			</div>
			
			<div style="width:900px;">
				<textarea ng-model="rubric.title" class="title-input-text text-edit" msd-elastic="" 
									placeholder="Type a title" rows="2" autocorrect="off" 
									style="height:70px;width:100%;" ng-blur="rubric.$save()" blurs-on-enter></textarea>
				<br />
				<textarea id="rubricDescription" ng-model="rubric.description" rows="3" autocorrect="off" class="desc-input-text text-edit"
									style="width:100%;height:43px;" ng-blur="rubric.$save();" msd-elastic="" placeholder="Type a description"></textarea>
			</div>
			<div style="padding-left:25px;padding-bottom:20px;">
				<ul class="inline">
					<li>
						<span class="white-text">Grade:</span><br/>
						<select ng-model="rubric.$grade" ng-change="rubric.$subjectId = null;rubric.unit = null;rubric.$save();"
										ng-options="u.grade as u.grade for u in units | unique:'grade' | orderBy:'grade'" cv-styled-select></select>
					</li>
					<li>
						<span class="white-text">Subject:</span><br/>
						<select ng-model="rubric.$subjectId" class="wide-select" ng-disabled="rubric.$grade === null" ng-change="rubric.unit = null;rubric.$save();"
										ng-options="u.strand.subject.id as u.strand.subject.title for u in units | filter:{grade: rubric.$grade} | unique:'subject_id' | orderBy:'id'" cv-styled-select>
							<option value="" disabled="disabled" >Select a subject</option>
						</select>
					</li>
					<li>
						<span class="white-text">Unit:</span><br/>
						<select ng-model="rubric.unit" class="wide-select" ng-disabled="rubric.$subjectId == null"
										ng-options="u as u.title for u in units | filter: filterUnits | orderBy:'id'"
										ng-change="rubric.$save();rubric.overall_expectations.length = 0;rubric.unit.$reload();" cv-styled-select>
							<option value="" disabled="disabled">Select a unit</option>
						</select>
					</li>
				</ul>
			</div>
			
		</form>
	</div>
</div>
<!-- RUBRIC CONTENT -->
<div class="container page-container" style="padding-left:54px;" ng-switch="rubric.$type">
	<h2>Expectations</h2>
	<div style="clear:both;"></div>
	<section style="margin-top:16px;">
		<h4>OVERALL</h4>
		<ul class="overalls">
			<li ng-repeat="overall in rubric.unit.overall_expectations" ng-init="overallEnabled[overall.id] = rubric.$hasOverall(overall)">
				<span class="dark-uniform">
					<input type="checkbox" style="cursor:pointer;" ng-model="overallEnabled[overall.id]" ng-change="updateRubricOveralls(overall, overallEnabled[overall.id])" cv-styled-checkbox/>
				</span>
				{{overall.long_form}}
			</li>
			<li>
				<span class="dark-uniform">
				 <input type="checkbox" style="cursor:pointer;" ng-model="rubric.custom_expectation_enabled" ng-change="rubric.$save()" cv-styled-checkbox/>
				</span>
				<textarea ng-model="rubric.custom_expectation" class="editable-text" style="height:22px;" msd-elastic="" placeholder="Type an overall expectation" ng-blur="rubric.$save()" blurs-on-enter></textarea>
			</li>
		</ul>
	</section>
	<section style="margin-top:23px;" class="specific" ng-switch-when="rubric">
		<div class="header">
				<h4>SPECIFIC</h4>
				<h4 class="red">LEVEL 1</h4>
				<h4 class="yellow">LEVEL 2</h4>
				<h4 class="bright-green">LEVEL 3</h4>
				<h4 class="green">LEVEL 4</h4>
		</div>
		<div style="clear:both;">
		<div class="rubric-group">
			<div class="rubric-row" ng-repeat-start="row in rubric.rows | orderBy:'created_at'">
				<div class="rubric-column criteria">
					<a class="close-button" ng-click="deleteRow(row)"><img src="images/beige-ex.png" /></a>
					<textarea class="editable-text" ng-model="row.criteria" style="height:64px;" msd-elastic="" placeholder="Type criteria description here" ng-blur="row.$save()" blurs-on-enter></textarea>
				</div>
				<div class="rubric-column level">
					<textarea class="editable-text" ng-model="row.level1_description" placeholder="Type level description here" msd-elastic="\n" ng-blur="unlock(row);row.$save();" blurs-on-enter></textarea>
				</div>
				<div class="rubric-column level">
					<label ng-show="levelsLocked(row)">{{row.level1_description}}</label>
					<textarea class="editable-text" ng-model="row.level2_description" msd-elastic="\n" ng-blur="row.$save()" blurs-on-enter></textarea>
				</div>
				<div class="rubric-column level">
					<label ng-show="levelsLocked(row)">{{row.level1_description}}</label>
					<textarea class="editable-text" ng-model="row.level3_description" msd-elastic="\n" ng-blur="row.$save()" blurs-on-enter></textarea>
				</div>
				<div class="rubric-column level">
					<label ng-show="levelsLocked(row)">{{row.level1_description}}</label>
					<textarea class="editable-text" ng-model="row.level4_description" msd-elastic="\n" ng-blur="row.$save()" blurs-on-enter></textarea>
				</div>
			</div>
			<div class="bottom-divider"></div>
			<div class="bottom-divider wide" ng-repeat-end></div>
		</div>
		
		<!-- SPECIFIC EXPECTATIONS -->
		<br/>
		<div class="specific-picker" ng-show="showSpecificSelect">
			<div class="divider-contianer">
				<a class="close-button" ng-click="showSpecificSelect = false"><img src="images/beige-ex.png" /></a>
			</div>
			<div class="column-container animate-slide" ng-show="!selection.overall">
				<div class="column shadow" style="width:296px;">
					<span>SUBJECTS</span>
					<div class="list">
						<ul>
							<li ng-repeat="u in units | filter:{grade: rubric.$grade} | unique:'subject_id'"
									ng-class="{true:'selected'}[selection.subject_id === u.subject_id]"
									ng-click="selectionChanged('subject_id', u.subject_id)"
									title="{{u.strand.subject.title}}">{{u.strand.subject.title}}</li>
						</ul>
					</div>
				</div>
				<div class="column shadow" style="width:353px;z-index:102;">
					<span>UNIT</span>
					<div class="list">
						<ul>
							<li ng-repeat="unit in units | filter:filterUnitsSpec"
									ng-class="{true:'selected'}[selection.unit === unit]"
									ng-click="selectionChanged('unit', unit)"
									title="{{unit.title}}">{{unit.title}}</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="column" style="width:280px;z-index:101;">
				<span ng-click="selection.overall = null">
					<div ng-show="!selection.overall">OVERALL EXPECTATIONS</div>
					<div class="back-button" ng-show="selection.overall">change unit</div>
				</span>
				<div class="list">
					<ul>
						<li ng-repeat="overall in selection.unit.overall_expectations"
								ng-class="{true:'selected'}[selection.overall === overall]"
						 		ng-click="selectionChanged('overall', overall)"
								title="{{overall.short_form}}">{{overall.short_form}}</li>
					</ul>
				</div>
			</div>
			<div class="column white" style="">
				<div class="list">
					<ul>
						<li ng-repeat="specific in selection.overall.specific_expectations"
								ng-click="addRow({criteria: specific.description});">
								<span class="plus"></span>
								{{specific.description}}
						</li>
					</ul>
				</div>
			</div>
		</div>
		
		<br/><br/>
		<div ng-show="!showSpecificSelect">
			<a class="plus green" ng-click="showSpecificSelect = true;showSpecificSelectBox();" style="margin-left:-39px;">Add specific expectation</a>
			<a class="plus green" ng-click="addRow({})" style="margin-left:39px;">Add custom expectation</a>
		</div>
		<br/><br/></br>
	</section>
	<!-- CHECKLIST -->
	<section style="margin-top:23px;" class="specific checklist" ng-switch-when="checklist">
		<div class="header">
				<h4 style="border:none;">CHECKLIST ITEMS</h4>
		</div>
		<div style="clear:both;">
		<div class="rubric-group" ng-repeat="item in rubric.checklist_items | orderBy:'created_at'">
			<div class="rubric-row">
				<div class="rubric-column criterias">
					<a class="close-button" ng-click="deleteChecklistItem(item)"><img src="images/beige-ex.png" /></a>
					<textarea class="editable-text" style="margin-left:0px;width: 860px;height: 20px;" ng-model="item.criteria" msd-elastic="" ng-blur="item.$save()" blurs-on-enter></textarea>
				</div>
			</div>
		</div>
		<div class="overalls">
			<a class="plus green" ng-click="addChecklistItem()"></a>
			<textarea autocorrect="off" class="text-edit" ng-model="newChecklistItem.criteria" msd-elastic="" placeholder="Type a new item for this checklist" ng-enter="addChecklistItem();"></textarea>
			<div class="tip">Tip: Press 'enter' to add this item and start a new one</div>
		</div>
	</section>
</div>

<!-- SIDE PANEL -->
<div class="final" style="height:150px;">
	<a class="btn-red btn" style="margin-top:14px" ui-sref="gradebook.page({page_id: rubric.page.id})">
		<img src="/images/icn-save-white.png" />Save
	</a>
	<a class="btn btn-light-slate" style="margin-top:10px;" prints="#/print/{{rubric.$type}}/{{rubric.id}}?ungraded=true" analytics-on="click" analytics-event="assignment.print">
		<img src="/images/print.png" />Print
	</a>
	<a class="btn btn-slate" style="margin-top:10px;" ng-click="deleteRubric()">
		<img src="/images/trash.png" />Delete
	</a>
</div>