<div class="hero green" style="height:387px;">
	<div class="container">
		<div>Breadcrumbs</div>
  	<form>
			
			<!-- This stuff is temporary -->
			<div style="margin-left:250px;height:77px;">&lt;BREADCRUMBS GO HERE&gt;</div>
			<!-- End -->
			
			<div style="float:left;width:639px;">
				<textarea ng-model="rubric.title" class="title-input-text" msd-elastic="" 
									placeholder="Type a title" rows="2" cols="17" autocorrect="off" 
									style="height:100px;" blurs-on-enter cv-input></textarea>
				
				<a class="plus-white" ng-click="displayDesc = true"
					 ng-show="(rubric.description == null || rubric.description == '') && displayDesc == false">Add a description</a>
				<textarea id="rubricDescription" ng-model="rubric.description" rows="3" cols="62" autocorrect="off" class="desc-input-text"
									ng-show="(rubric.description != null && rubric.description != '') || displayDesc == true"
									focus-when="displayDesc == true" ng-blur="displayDesc = false" cv-input></textarea>
			</div>
			
			<div style="float:left;width:1px;height:215px;margin-top:21px;" class="verticalLine"></div>
			
			<div style="float:left;padding-left:20px;">
				<ul>
					<li>
						<span>Grade:</span><br/>
						<select ng-model="rubric.unit.grade" ng-change="rubric.unit.strand.subject.id = null;rubric.unit_id = null;updateModel();"
										ng-options="u.grade as u.grade for u in units | unique:'grade'" cv-styled-select></select>
					</li>
					<li>
						<span>Subject:</span><br/>
						<select ng-model="rubric.unit.strand.subject.id" class="wide-select" ng-disabled="rubric.unit.grade == null" ng-change="rubric.unit_id = null;updateModel();"
										ng-options="u.strand.subject.id as u.strand.subject.title for u in units | filter:{grade: rubric.unit.grade} | unique:'u.strand.subject.id'" cv-styled-select>
							<option value="" disabled="disabled">Select a subject</option>
						</select>
					</li>
					<li>
						<span>Unit:</span><br/>
						<select ng-model="rubric.unit_id" class="wide-select" ng-disabled="rubric.unit.strand.subject.id == null"
										ng-options="u.id as u.strand.title for u in units | filter:{grade: rubric.unit.grade, strand.subject.id: rubric.unit.strand.subject.id} "
										ng-change="updateModel()" cv-styled-select>
							<option value="" disabled="disabled">Select a unit</option>
						</select>
					</li>
				</ul>
			</div>
			
		</form>
	</div>
</div>