<div class="clickable">
	<span class="title">Send these agenda items</span>
	<a class="close-button" ng-click="cancel()"><img src="/images/beige-ex.png"/></a>
	<hr/>
	<textarea placeholder="Add a personal note" class="text-edit" ng-model="personalNote"></textarea>
	<br/><br/>
	<span class="caption">Include from:</span>
	<a class="dropdown-toggle moggle">{{numberOfPagesIncluded}} page{{numberOfPagesIncluded == 1 ? '' : 's'}}</a>
	<ul class="dropdown-menu">
  	<li>
    	<a class="inline green-font" ng-click="selectAll();">Select All</a>
			<a class="inline red-font" ng-click="deselectAll();">Deselect All</a>
  	</li>
		<li class="check" ng-repeat="page in pages">
			<label class="dark-uniform">
				<input type="checkbox" ng-model="page.$includeInAgenda" ng-click="page.$includeInAgenda = !page.$includeInAgenda;refreshAgendas();" style="overflow:hidden;" cv-styled-checkbox />{{page.title}}
			</label>
		</li>
	</ul>
	<span class="caption">Limit to:</span>
	<select ng-model="span" ng-options="l.value as l.caption for l in limits" ng-change="changeLimit();" cv-styled-select>
	</select>
	<ul class="agendas">
		<li ng-repeat="agenda_item in agendas | filter:{$shouldOmit:false}" class="{{agenda_item.$colorCode}}">
			<span class="short">{{agenda_item.title}}</span>
			<span class="date">
				<span class="{{agenda_item.$colorCode}}-font">{{agenda_item.due_date | fromNow}}</span>
			</span>
			<a class="delete" ng-click="agenda_item.$omit = true"></a>
		</li>
	</ul>
	<a class="btn btn-red" ng-click="sendAgendas();">Send Email</a>
	<a class="btn btn-red" ng-click="preview();">Preview</a>
	<br/><br/><br/>
	<span class="caption" ng-show="anyOmits();">Omit these items</span>
	<ul class="agendas">
		<li ng-repeat="agenda_item in agendas | filter:{$omit:true}" class="{{agenda_item.$colorCode}}">
			<span class="short">{{agenda_item.title}}</span>
			<span class="date" style="width:122px !important;">
				<span class="{{agenda_item.$colorCode}}-font">{{agenda_item.due_date | fromNow}}</span>
			</span>
			<a class="plus-a" ng-click="agenda_item.$omit = undefined"></a>
		</li>
	</ul>
</div>