<style>
	body {
		background-image:url("/images/beige-background-pattern.gif");
	}
</style>
<div class="auth-box">
	<div>
		<div class="bottom-noise">
			<div class="top-noise"></div>
			<img src="images/beige-logo.png" style="margin:auto;display:block;margin-top:66px;" />
			<span style="color:white;margin:auto;width:270px;display:block;margin-top:33px;text-align:center;line-height:29px;font-weight:300;">
				Get started with ClassVantage to easily assess your students!
			</span>
			<ul>
				<li style="font-size:16px;font-weight:300;width:350px;margin:auto;text-align:center;margin-top:0px;height:auto;min-height:39px;" ng-repeat="message in error">
					<img style="vertical-align:middle;margin-left:-37px;position:absolute;" src="/images/exclamation.png" />
					<p style="display:inline;line-height:23px;">{{message}}</p>
				</li>
			</ul>
			<ul style="margin-bottom:82px;">
				<li>
					<span>Name</span>
					<input type="text" ng-model="name"/>
				</li>
				<li>
					<span>Email</span>
					<input type="text" ng-model="username"/>
				</li>
				<li>
					<span>School</span>
					<input type="text" ng-model="form.school" ng-show="province !== 'Ontario'"/>
					<span class="slate-unifrom" ng-show="province === 'Ontario'">
						<select ng-model="form.school" ng-options="sch as sch for sch in schools" style="margin-left:20px;width:252px;" cv-styled-select>
							<option value="" disabled="disabled">Select a school</option>
						</select>
					</span>
				</li>
				<li>
					<span>Province</span>
					<span class="slate-unifrom" >
						<select ng-model="province" ng-options="prv as prv for prv in provinces" style="width:252px;margin-left:20px;" ng-change="form.school = ''" cv-styled-select>
							<option value="" disabled="disabled" >Select a province</option>
						</select>
					</span>
				</li>
				<li style="padding-top:17px;">
					<hr/>
				</li>
				<li style="margin-top:-25px;">
					<span>Password</span>
					<input ng-model="password" type="password"/>
				</li>
				<li>
					<span>Confirm</span>
					<input ng-model="password_confirmation" type="password"/>
				</li>
				<li style="font-size: 15px;font-weight: 300;">
					<br/>
					<input type="checkbox" ng-model="agreement" style="overflow:hidden;" cv-styled-checkbox />
					<p style="display: inline-block;width: 350px;vertical-align: top;line-height: 19px;margin-top: -1px;">
						I agree to ClassVantage's <a href="privacy.html" onclick="window.open(this.href, 'mywin',
						'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">Privacy Policy</a> and <a href="eula.html" target="eula" onclick="window.open(this.href, 'mywin',
						'left=20,top=20,width=500,height=500,toolbar=0,resizable=0,directories=no,titlebar=no,location=no,status=no,menubar=no'); return false;">Terms and Conditions</a>
					</p>
				</li>
				<li>
					<button class="btn btn-green" ng-click="signUp()" ng-disabled="!agreement" style="height:48px;width:150px;font-size:18px;font-weight:300;margin:auto;display:block;margin-top:35px;">Sign up</button>
				</li>
			</ul>
			<span class="chalk-brush"></span>
			<span class="ledge"></span>
		</div>
	</div>
</div>