<form ng-submit="submitForm()">
<div class="modal-header" >

    <input type="text" id="silver-input" placeholder="Type a student's name" ng-model="student.full_name" 
					typeahead="s as s.full_name for s in students | filter:{full_name:$viewValue} | limitTo:5" 
					typeahead-template-url="views/typeAheadTemplate.html"
					typeahead-on-select="typeAheadSelect($item)"
					gains-focus required />
		<input type="text" class="small" placeholder="Parent emails (comma separated)" ng-model="student.$parent_emails">
		<button class="btn btn-red" type="submit" style="top: -21px;position: relative;left: 50px;"
						ng-disabled="student.full_name == null || student.full_name == ''">
						{{student.id ? 'Save' : 'Add'}}
		</button>
		<a class="close-button" ng-click="cancel()"><img src="/images/beige-ex.png"/></a>

</div>
</form>